Web/Fireflow_Process_Definition_Language.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % n1_prefix "n1">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % n1_prefix.. "%n1_prefix;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns:%n1_prefix; CDATA 'http://www.fireflow.org/Fireflow_Process_Definition_Language'">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % n1..WorkflowProcess "%n1_prefix..;WorkflowProcess">
<!ENTITY % n1..DataFields "%n1_prefix..;DataFields">
<!ENTITY % n1..DataField "%n1_prefix..;DataField">
<!ENTITY % n1..StartNode "%n1_prefix..;StartNode">
<!ENTITY % n1..Activities "%n1_prefix..;Activities">
<!ENTITY % n1..Activity "%n1_prefix..;Activity">
<!ENTITY % n1..Synchronizers "%n1_prefix..;Synchronizers">
<!ENTITY % n1..Synchronizer "%n1_prefix..;Synchronizer">
<!ENTITY % n1..EndNodes "%n1_prefix..;EndNodes">
<!ENTITY % n1..EndNode "%n1_prefix..;EndNode">
<!ENTITY % n1..Transitions "%n1_prefix..;Transitions">
<!ENTITY % n1..Transition "%n1_prefix..;Transition">
<!ENTITY % n1..Condition "%n1_prefix..;Condition">
<!ENTITY % n1..Tasks "%n1_prefix..;Tasks">
<!ENTITY % n1..Task "%n1_prefix..;Task">
<!ENTITY % n1..EditForm "%n1_prefix..;EditForm">
<!ENTITY % n1..uri "%n1_prefix..;uri">
<!ENTITY % n1..ViewForm "%n1_prefix..;ViewForm">
<!ENTITY % n1..ListForm "%n1_prefix..;ListForm">
<!ENTITY % n1..Application "%n1_prefix..;Application">
<!ENTITY % n1..handler "%n1_prefix..;handler">
<!ENTITY % n1..SubWorkflowProcess "%n1_prefix..;SubWorkflowProcess">
<!ENTITY % n1..Performer "%n1_prefix..;Performer">
<!ENTITY % n1..AssignmentHandler "%n1_prefix..;AssignmentHandler">
<!ENTITY % n1..ExtendedAttributes "%n1_prefix..;ExtendedAttributes">
<!ENTITY % n1..ExtendedAttribute "%n1_prefix..;ExtendedAttribute">
<!ENTITY % n1..Description "%n1_prefix..;Description">
<!ENTITY % n1..Duration "%n1_prefix..;Duration">
<!--element and attribute declarations-->
<!ELEMENT %n1..WorkflowProcess; ((%n1..Description;)?, (%n1..DataFields;)?, (%n1..StartNode;)?, (%n1..Activities;)?, (%n1..Synchronizers;)?, (%n1..EndNodes;)?, (%n1..Transitions;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..WorkflowProcess;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	ResourceFile CDATA #IMPLIED
	ResourceManager CDATA #IMPLIED
	Version NMTOKEN #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..DataFields; ((%n1..DataField;)*)>
<!ATTLIST %n1..DataFields;
	%documentElementAttributes;
>
<!ELEMENT %n1..DataField; ((%n1..Description;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..DataField;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	DataType (STRING | FLOAT | INTEGER | DATETIME | BOOLEAN) #IMPLIED
	InitialValue CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..StartNode; ((%n1..Description;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..StartNode;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..Activities; ((%n1..Activity;)*)>
<!ATTLIST %n1..Activities;
	%documentElementAttributes;
>
<!ELEMENT %n1..Activity; ((%n1..Description;)?, (%n1..Tasks;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..Activity;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	CompletionStrategy (ALL | ANY) #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..Synchronizers; ((%n1..Synchronizer;)*)>
<!ATTLIST %n1..Synchronizers;
	%documentElementAttributes;
>
<!ELEMENT %n1..Synchronizer; ((%n1..Description;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..Synchronizer;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..EndNodes; ((%n1..EndNode;)*)>
<!ATTLIST %n1..EndNodes;
	%documentElementAttributes;
>
<!ELEMENT %n1..EndNode; ((%n1..Description;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..EndNode;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..Transitions; ((%n1..Transition;)*)>
<!ATTLIST %n1..Transitions;
	%documentElementAttributes;
>
<!ELEMENT %n1..Transition; ((%n1..Description;)?, (%n1..Condition;)?, (%n1..ExtendedAttributes;)?)>
<!ATTLIST %n1..Transition;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	From CDATA #REQUIRED
	To CDATA #REQUIRED
	%documentElementAttributes;
>
<!ELEMENT %n1..Condition; (#PCDATA)>
<!ELEMENT %n1..Tasks; ((%n1..Task;)+)>
<!ATTLIST %n1..Tasks;
	%documentElementAttributes;
>
<!ELEMENT %n1..Task; ((%n1..Description;)?, (%n1..EditForm;)?, (%n1..ViewForm;)?, (%n1..ListForm;)?, (%n1..Application;)?, (%n1..SubWorkflowProcess;)?, (%n1..Performer;)?, (%n1..Duration;)?)>
<!ATTLIST %n1..Task;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
	Type (FORM | APPLICATION | SUBFLOW) "FORM"
	StartMode (MANUAL | AUTOMATIC) "MANUAL"
	CompletionStrategy (ALL | ANY) "ANY"
	DefaultView (EDITFORM | VIEWFORM | LISTFORM) "VIEWFORM"
	Priority NMTOKEN "1"
	Execution (ASYNCHR | SYNCHR) "SYNCHR"
	%documentElementAttributes;
>
<!ELEMENT %n1..EditForm; ((%n1..Description;)?, %n1..uri;)>
<!ATTLIST %n1..EditForm;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..uri; (#PCDATA)>
<!ELEMENT %n1..ViewForm; ((%n1..Description;)?, %n1..uri;)>
<!ATTLIST %n1..ViewForm;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..ListForm; ((%n1..Description;)?, %n1..uri;)>
<!ATTLIST %n1..ListForm;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..Application; ((%n1..Description;)?, %n1..handler;)>
<!ATTLIST %n1..Application;
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..handler; (#PCDATA)>
<!ELEMENT %n1..SubWorkflowProcess; EMPTY>
<!ATTLIST %n1..SubWorkflowProcess;
	Id CDATA #REQUIRED
	Name CDATA #REQUIRED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..Performer; ((%n1..Description;)?, %n1..AssignmentHandler;)>
<!ATTLIST %n1..Performer;
	Name CDATA #IMPLIED
	DisplayName CDATA #IMPLIED
>
<!ELEMENT %n1..AssignmentHandler; (#PCDATA)>
<!ELEMENT %n1..ExtendedAttributes; ((%n1..ExtendedAttribute;)*)>
<!ATTLIST %n1..ExtendedAttributes;
	%documentElementAttributes;
>
<!ELEMENT %n1..ExtendedAttribute; EMPTY>
<!ATTLIST %n1..ExtendedAttribute;
	Name CDATA #REQUIRED
	Value CDATA #IMPLIED
	%documentElementAttributes;
>
<!ELEMENT %n1..Description; (#PCDATA)>
<!ATTLIST %n1..Description;
	%documentElementAttributes;
>
<!ELEMENT %n1..Duration; EMPTY>
<!ATTLIST %n1..Duration;
	Value NMTOKEN #IMPLIED
	Unit (DAY | MONTH | YEAR | HOUR | MINUTE | SECOND) #IMPLIED
	IsBusinessTime NMTOKEN "true"
	%documentElementAttributes;
>
